<app-navbar></app-navbar>
<app-banner></app-banner>
<div class="general container-fluid text-right" style="padding-top: 50px;">
  <div class=" buttons container-fluid">
    <button type="button" class="btn btn-outline-primary" routerLink="/agregar">Agregar</button>
    <button type="button" class="btn btn-outline-danger" (click)="borrar()" >Borrar</button>
  </div>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listarEnTabla of listado | slice : Desde : Hasta">  
          <!--"listado" contiene toda la informacion de la bd llamada "autoo" -->
          <td>
              <input class="tilde" type="checkbox" (click)="onCheck(listarEnTabla.au_id)">  
          </td>
          <td>{{listarEnTabla.au_nombre}}</td>
          <td>{{listarEnTabla.au_marca}}</td>
          <td>{{listarEnTabla.au_modelo}}</td>
          <td>
            <button routerLink="/editar/{{listarEnTabla.au_id}}" class="btn btn-sm btn-info">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" class="text-center">
        Pagina: {{PaginaActual}} de {{CantidadDePaginas}} 
        <a (click)="prevPag()" class="cp btn btn-sm"> << </a> 
        <a (click)="nextPag()" class="cp btn btn-sm"> >> </a>
    </div>

    <!-- <div *ngIf="flagAdd">
      <input id="nombre" type="text" class="form-control" placeholder="Nombre">
      <input id="marca" type="text" class="form-control" placeholder="Marca" >
      <input id="modelo" type="text" class="form-control"placeholder="Modelo"> 
      <button type="button" class="btn btn-outline-primary" (click)="formAdd()">Agregar</button>
      <button type="button" class="btn btn-outline-danger" (click)="flagsOFF()">Cancelar</button>
    </div>
     -->
</div>

